//
//  General.xcconfig
//  MovieAppRxCleanArchs
//
//  Created by hungnm98 on 20/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-NetworkPlatform/Pods-NetworkPlatform.debug.xcconfig"

MOVIE_DB_ENDPOINT = https://api.themoviedb.org/3
MOVIE_API_KEY = c6bcf9b396562b60515b1e6edfebda90
